html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

.app-name {
  font-family: 'Pacifico', cursive;
  font-weight: 500;
}

.quick {
  animation-duration: 0.7s;
}
.quicker {
  animation-duration: 0.4s;
}
