.md-button.md-raised {
  &.btn-social {
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: none;
    i {
      font-size: 1.2em;
    }
  }
  &.btn-google-plus {
    color: #fff;
    background-color: #dd4b39;
    border: 1px solid #d54331;
  }

  &.btn-google-plus:hover,
  &.btn-google-plus:focus {
    color: #fff;
    background-color: #cb3927;
  }

  &.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border: 1px solid #335190;
  }

  &.btn-facebook:hover,
  &.btn-facebook:focus {
    color: #fff;
    background-color: #294786;
  }

  &.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border: 1px solid #0073ae;
  }

  &.btn-linkedin:hover,
  &.btn-linkedin:focus {
    color: #fff;
    background-color: #0069a4;
  }

  &.btn-twitter {
    color: #fff;
    background-color: #00aced;
    border: 1px solid #009fdb;
  }

  &.btn-twitter:hover,
  &.btn-twitter:focus {
    color: #fff;
    background-color: #0090c7;
  }

  &.btn-stripe {
    color: #fff;
    background-color: #3ea8e6;
    border: 1px solid #3794cb;
  }

  &.btn-stripe:hover,
  &.btn-stripe:focus {
    color: #fff;
    background-color: #2e7caa;
  }
}
